.banner{
    width: 100%;
    /*height: 220px;*/
    background: url("../img/schemeBanner.jpg") no-repeat center center;
    background-size:cover;
}
ol ,ul{
    margin-bottom: 0px;

}
.nav-key{
    height: 70px;
    line-height: 70px;
    background: #010101;
    opacity: .8;
    /*background: pink;*/
}

.nav-key .lf{
    float: left;
    /*height: 70px;*/
    /*line-height: 70px;*/
    overflow: hidden;

}
.nav-key .lf li{
    margin-top:10px;
}
.nav-key .lf li a{
    /*display: inline-block;*/
    /*width: 150px;*/
    /*height: 40px;*/
    /*background:url("../img/logo.png") no-repeat center center;*/
}

.nav-key .rt{
    float: right;
}
.nav-key .rt li{
    float: left;
    margin:0 40px;
}
.nav-key .rt li:last-child{
    /*margin:0px;*/
}
.nav-key .rt li a{
    font-size: 20px;
    color: #fff;
}
.nav-key .rt li a:hover{
    color:#5FD1E3;
}
.nav-scheme-key{
    clear: both;
    /*margin:50px;*/
    padding-top: 65px;
    padding-bottom: 55px;

}
.nav-scheme-key p{
    color: #fff;
}
.nav-scheme-key p:first-child{
    font-size: 24px;
}
.nav-scheme-key p:last-child{
    font-size: 14px;
}
/*按钮部分*/
.but-down {
    display: none;
    /*float:right;*/
}

.but-down-list {
    clear: both;
    display: none;
}


/*简介 内容部分*/

.about-title {
    width: 230px;
    margin: 40px auto 25px;
}

.about-title > h3 {
    margin: auto;
    /*width: 100px;*/
    text-align: center;
    font-size: 24px;
    color: #03859F;
}
.about-title >h3 span{
    margin: auto;
}

.about-title .about-icon {
    width: 220px;
    height: 20px;
    background: url("../img/line.png") no-repeat center center;
}
.about-content{
    color:#666;
    line-height: 30px;
    margin-bottom:70px;

}
.about-content ul{
    display: flex;
}
.about-content ul li{
    flex: 1;
    /*float: left;*/
    /*text-align: center;*/
}
.about-content p{
    font-size: 16px;
}



/*理念*/
.core-idea .about-content dl{
    text-align: center;
}
.about-content dt{
    display: inline-block;
    width: 40px;
    height: 40px;
    background:url("../img/icon.jpg") no-repeat center center;
}

.team{}
.team-group ul{
    display: flex;
}
.team-group ul:nth-child(2){
    margin-top:45px;
}
.team-group ul li{
    flex: 1;
    text-align: center;
}
.team-group ul li:nth-child(2){
    margin:0px 5%;
}
.team-group .team-group-name{
    font-size: 22px;
    color: #666;
    margin:15px 0px;
}
.team-group .team-group-content h3{
    font-size: 16px;
    font-weight: 700;
    color: #666;
}
.team-group .team-group-content p{
    color: #999999;
    line-height: 25px;
}
.team-group ul li dt{
    display: inline-block;
    width: 100px;
    height: 100px;
    background:url("../img/wyj.jpg") no-repeat center center;
}

/*.about-content p i{*/
    /*display: inline-block;*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*background:url("../img/media.png") no-repeat center 1px;*/
    /*margin-right:12px;*/
/*}*/

.contact-address{
    margin:70px 0px 10px;
    overflow: hidden;
}
.contact-address .add-ress-lf{
    float: left;
    width: 38%;
}
.contact-address .add-ress-lf h3{
    color: #03859F;
    font-size: 20px;
}
.contact-address .add-ress-lf p{
    margin-top:22px;
}
.contact-address .add-ress-lf i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background:url("../img/media.png") no-repeat center 1px;
    margin-right:12px;
}
.contact-address .add-ress-lf p{
    font-size: 16px;
}
.contact-address .add-ress-lf p span{
    color: #696969;
}
.contact-address .add-ress-lf p:nth-child(3) i{
    background:url("../img/Business.png") no-repeat center center;
}
.contact-address .add-ress-lf p:nth-child(4) i{
    background:url("../img/server.png") no-repeat center center;
}
.contact-address .add-ress-lf p:nth-child(5) i{
    background:url("../img/tel.png") no-repeat center center;
}

.contact-address .add-ress-rt{
    width: 60%;
    float: right;
}
.add-ress-rt p{
    float: right;
    color: #616161;
    font-size: 16px;
}
.add-ress-rt p i{
    width: 18px;
    height: 18px;
    background:url('../img/address.png') no-repeat center center;
    float: left;
    position: relative;
    top: 0px;
    right:6px;
}



/*适配部分*/


/*适配部分*/
@media screen and (max-width: 1200px){
    .vessel{
        width: 100%;
    }
    .nav-key{
        width: 100%;
        /*padding:0% 2%;*/
    }
    .nav-key .lf{
        display: none;
    }
    .nav-key .rt{
        width: 100%;
        /*padding:0% 2%;*/
        display: flex;
        margin:auto;
    }
    .nav-key .rt li{
        flex: 1;
        margin:0px;
        text-align: center;
    }
    .nav-key .rt li a{
        font-size: 18px;
    }
    .nav-scheme-key{
        width: 95%;
        /*margin-left:100px;*/
        margin: 0 2.5%;
    }
    .nav-scheme-key p:first-child{
        font-size: 18px;
    }
    .nav-scheme-key p:last-child{
        font-size: 12px;
    }

    .content-college{
        padding: 0 2%;
    }

    /*banner 部分一下的字体*/
    .about-content .about-content p{
        font-size: 14px;
    }
    .core-idea .about-content dd{
        font-size: 14px;
    }

    .team .team-group-name{
        font-size: 16px;
    }
    .team .team-group-content h3, .team .team-group-content p{
        font-size: 14px;
    }


}


@media screen and (max-width: 768px){
    .nav-key{
        width: 95%;
        line-height: 35px;
        margin:0 2.5%;
        box-sizing: border-box;
    }
    .nav-key .lf{
        display: inline-block;
        /*height:0px;*/
    }
    .nav-key .lf img{
        width: 70%;
    }
    .nav-key .rt{
        display: none;
    }


    .but-down {
        display: inline-block;
        margin-top: 10px;
        float: right;
    }
    .but-down-list{
        background:#181E2A;
        opacity: .8;
        text-align: center;
    }
    .but-down-list ul li:hover{
        background:#4F8397;
    }

    .but-down-list ul li a {
        font-size: 16px;
        color: #337ab7;
    }

    .product-content{
        line-height: 25px;
    }
    .about-content p{
        font-size: 14px;
    }
    .about-contents .about-content ul li dd{
        font-size:14px;
    }
    .contact-address .add-ress-lf{
        width: 100%;
        margin-bottom:10px;
    }
    .contact-address .add-ress-lf p span{
        font-size: 14px;
    }
    .add-ress-rt{
        display: none;
    }









}
@media screen and (max-width: 414px){

    .about-content p{
        font-size: 12px;
    }
    .about-contents .about-content ul li dd{
        font-size:12px;
    }
    .team .team-group-content h3, .team .team-group-content p{
        font-size: 12px;
    }

}
@media screen and (max-width: 375px){}
