.banner{
    width: 100%;
    /*height: 220px;*/
    background: url("../img/schemeBanner.jpg") no-repeat center center;
    background-size:cover;
}
ol ,ul{
    margin-bottom: 0px;

}
.nav-key{
    height: 70px;
    line-height: 70px;
    background: #010101;
    opacity: 1;
    /*background: pink;*/
}

.nav-key .lf{
    float: left;
    /*height: 70px;*/
    /*line-height: 70px;*/
    overflow: hidden;

}
.nav-key .lf li{
    margin-top:10px;
}
.nav-key .lf li a{
    /*display: inline-block;*/
    /*width: 150px;*/
    /*height: 40px;*/
    /*background:url("../img/logo.png") no-repeat center center;*/
}

.nav-key .rt{
    float: right;
}
.nav-key .rt li{
    float: left;
    margin:0 40px;
}
.nav-key .rt li:last-child{
    /*margin:0px;*/
}
.nav-key .rt li a{
    font-size: 20px;
    color: #fff;
}
.nav-key .rt li a:hover{
    color:#5FD1E3;
}
.nav-scheme-key{
    clear: both;
    /*margin:50px;*/
    padding-top: 65px;
    padding-bottom: 55px;

}
.nav-scheme-key p{
    color: #fff;
}
.nav-scheme-key p:first-child{
    font-size: 24px;
}
.nav-scheme-key p:last-child{
    font-size: 14px;
}
/*按钮部分*/
.but-down {
    display: none;
    /*float:right;*/
}

.but-down-list {
    clear: both;
    display: none;
}

/*视频内容部分*/

.college-video-content{
    overflow: hidden;
    margin-bottom:60px;
    margin-top:-47px;
    padding: 0 2.5%;
}
.college-banner{
    margin:auto;

}
.college-banner img{
    width: 100%;
    /*position: absolute;*/
    /*margin-top: -50px;*/
}
.video-content .content-title{
    text-align: center;
}
.content-title h3{
    margin:25px 0px;
    font-size: 24px;
    color: #799693;
}
.content-title p{
    font-size: 16px;
    line-height: 30px;
    color: #63A59F;
}

/*学习目标 红色字体*/

.video-content .content-title .video-content-akey{
    text-align:center;
    color:red;
    font-size:18px;
    margin-top:10px;
}
/*学习目标 红色字体*/


.content-list{
    margin-top:48px;
    overflow: hidden;
}
.content-list .content-list-lf{
    float: left;
    width: 35%;
    margin-right:10px;
}
.content-list-lf a{
    position: relative;
    display: inline-block;
}
.content-list-lf a img{
    /*width: 90%;*/
}
.content-list-lf span{
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%);

}

.content-list-rt{
    width: 60%;
    float: right;
}
.content-list-rt .list-rt-hide{
    display: none;
}
.content-list-rt p a{
    color: #666666;
    font-size: 16px;
    line-height: 30px;
}


/*适配部分*/
@media screen and (max-width: 1200px){
    .vessel{
        width: 100%;
    }
    .nav-key{
        width: 100%;
        /*padding:0% 2%;*/
    }
    .nav-key .lf{
        display: none;
    }
    .nav-key .rt{
        width: 100%;
        /*padding:0% 2%;*/
        display: flex;
        margin:auto;
    }
    .nav-key .rt li{
        flex: 1;
        margin:0px;
        text-align: center;
    }
    .nav-key .rt li a{
        font-size: 18px;
    }
    .nav-scheme-key{
        width: 95%;
        /*margin-left:100px;*/
        margin: 0 2.5%;
    }
    .nav-scheme-key p:first-child{
        font-size: 18px;
    }
    .nav-scheme-key p:last-child{
        font-size: 12px;
    }

    .content-list .content-list-lf img{
        width: 100%;
    }



}


@media screen and (max-width: 768px){
    .nav-key{
        width: 95%;
        line-height: 35px;
        margin:0 2.5%;
        box-sizing: border-box;
    }
    .nav-key .lf{
        display: inline-block;
        /*height:0px;*/
    }
    .nav-key .lf img{
        width: 70%;
    }
    .nav-key .rt{
        display: none;
    }


    .but-down {
        display: inline-block;
        margin-top: 10px;
        float: right;
    }
    .but-down-list{
        background:#181E2A;
        /*opacity: .8;*/
        text-align: center;
    }
    .but-down-list ul li:hover{
        background:#4F8397;
    }

    .but-down-list ul li a {
        font-size: 16px;
        color: #337ab7;
    }
    .content-title h3{
        font-size: 16px;
    }
    .content-title p{
        font-size: 14px;
    }

    .video-content .content-title .video-content-akey{
        font-size:16px;
    }
    .content-list-lf a span{
        font-size: 14px;
        display: none;
    }
    .content-list-rt p a{
        font-size: 14px;
    }
    .content-list-rt p:nth-child(1){
        display: none;
    }
    .content-list-rt .list-rt-hide{
        display: inline-block;


    }
    .content-list-rt .list-rt-hide a{
        color: #666666;
        font-size: 14px;
        line-height: 25px;
    }

    .footer-logo > a img {
        width: 50%;
    }
}
@media screen and (max-width: 414px){
    .college-video-content .content-list-lf a span{
        font-size: 12px;
    }
    .content-list-rt .list-rt-hide a{
        font-size: 12px;
        line-height: 20px;
    }

    .video-content .content-title .video-content-akey{
        font-size:12px;
    }
}
@media screen and (max-width: 375px){}
