.banner{
    width: 100%;
    /*height: 220px;*/
    background: url("../img/schemeBanner.jpg") no-repeat center center;
    background-size:cover;
}
ol ,ul{
    margin-bottom: 0px;

}
.nav-key{
    height: 70px;
    line-height: 70px;
    background: #010101;
    opacity: .8;
    /*background: pink;*/
}

.nav-key .lf{
    float: left;
    /*height: 70px;*/
    /*line-height: 70px;*/
    overflow: hidden;

}
.nav-key .lf li{
    margin-top:10px;
}
.nav-key .lf li a{
    /*display: inline-block;*/
    /*width: 150px;*/
    /*height: 40px;*/
    /*background:url("../img/logo.png") no-repeat center center;*/
}

.nav-key .rt{
    float: right;
}
.nav-key .rt li{
    float: left;
    margin:0 40px;
}
.nav-key .rt li:last-child{
    /*margin:0px;*/
}
.nav-key .rt li a{
    font-size: 20px;
    color: #fff;
}
.nav-key .rt li a:hover{
    color:#5FD1E3;
}
.nav-scheme-key{
    clear: both;
    /*margin:50px;*/
    padding-top: 65px;
    padding-bottom: 55px;

}
.nav-scheme-key p{
    color: #fff;
}
.nav-scheme-key p:first-child{
    font-size: 24px;
}
.nav-scheme-key p:last-child{
    font-size: 14px;
}
/*按钮部分*/
.but-down {
    display: none;
    /*float:right;*/
}

.but-down-list {
    clear: both;
    display: none;
}

.college-video-content{
    overflow: hidden;
    margin-bottom:60px;
    margin-top: -47px;
    padding: 0 2%;
}
.college-banner{
    margin:auto;
}
.college-banner img{
    width: 100%;
}

/*<!--ROS 教学系列课程 开始-->*/
.video-content .content-title{
    text-align: center;
}
.content-title h3{
    margin:25px 0px;
    font-size: 24px;
    color: #799693;
}
.content-title p{
    font-size: 16px;
    line-height: 30px;
    color: #63A59F;
}

.introdution-info{}
.introdution-info-list h4{
    font-size: 18px;
    color: #808080;
    margin-bottom:15px;
}
.introdution-info .introdution-info-title p{
    font-size: 20px;
    margin-bottom:35px;

}

/*==================*/

/*==================*/
.introdution-list-content{
    overflow: hidden;
}
.introdution-list-content p:nth-child(1) {
    float: left;
    /*height:50px;*/
    width: 14%;
    overflow: hidden;
    /*text-align: center;*/
}
.introdution-list-content p:nth-child(1) i{
    display: inline-block;
}
.introdution-list-calendar p:nth-child(1) i{
    width: 14px;
    height: 14px;
    background:url("../img/calendar.png") no-repeat center center;
}
.introdution-list-knowledge p:nth-child(1) i{
    width: 11px;
    height: 16px;
    background:url("../img/knowledge.png") no-repeat center center;
}
.introdution-list-content p:nth-child(1) span{
    color:#959595;
    font-size: 16px;
}

.introdution-list-content p:nth-child(2){
    float: left;
    width: 80%;
    color:#959595;
    font-size: 16px;
}
.introdution-list-knowledge{
    margin-top:12px;
}
.introdution-info-list .list-line{
    width: 100%;
    height: 1px;
    background: #E6E9EB;
    margin:30px 0px;
}

/*<!--ROS 教学系列课程 结束-->*/









/*适配部分*/
@media screen and (max-width: 1200px){
    .vessel{
        width: 100%;
    }
    .nav-key{
        width: 100%;
        /*padding:0% 2%;*/
    }
    .nav-key .lf{
        display: none;
    }
    .nav-key .rt{
        width: 100%;
        /*padding:0% 2%;*/
        display: flex;
        margin:auto;
    }
    .nav-key .rt li{
        flex: 1;
        margin:0px;
        text-align: center;
    }
    .nav-key .rt li a{
        font-size: 18px;
    }
    .nav-scheme-key{
        width: 95%;
        /*margin-left:100px;*/
        margin: 0 2.5%;
    }
    .nav-scheme-key p:first-child{
        font-size: 18px;
    }
    .nav-scheme-key p:last-child{
        font-size: 12px;
    }





}


@media screen and (max-width: 768px){
    .nav-key{
        width: 95%;
        line-height: 35px;
        margin:0 2.5%;
        box-sizing: border-box;
    }
    .nav-key .lf{
        display: inline-block;
        /*height:0px;*/
    }
    .nav-key .lf img{
        width: 70%;
    }
    .nav-key .rt{
        display: none;
    }


    .but-down {
        display: inline-block;
        margin-top: 10px;
        float: right;
    }
    .but-down-list{
        background:#181E2A;
        opacity: .8;
        text-align: center;
    }
    .but-down-list ul li:hover{
        background:#4F8397;
    }

    .but-down-list ul li a {
        font-size: 16px;
        color: #337ab7;
    }
    .content-title h3{
        font-size: 16px;
    }
    .content-title p{
        font-size: 14px;
    }

    .introdution-info-list h4{
        font-size: 16px;
    }
    .introdution-list-content p:nth-child(1) span{
        font-size: 14px;
    }
    .introdution-list-content p:nth-child(2){
        font-size: 14px;
    }


    .footer-logo > a img {
        width: 50%;
    }
}
@media screen and (max-width: 414px){

    .introdution-list-content p:nth-child(1){
        width: 18%;
    }
    .introdution-info-list h4{
        font-size: 14px;
    }
    .introdution-list-content p:nth-child(1) span{
        font-size: 12px;
    }
    .introdution-list-content p:nth-child(2){
        font-size: 12px;
    }

}
@media screen and (max-width: 375px){}
