



/*============ 页脚 开始============*/

.footer{
    /*height: 285px;*/
    background: #1C1E1F;
    padding-top:55px;
    /*padding: 55px 0px 65px 0px;*/
    /*box-sizing: border-box;*/
    overflow: hidden;
}
.footer li a{
    text-decoration: none;
}
.footer-cell a{
    color:#7F8387;
    font-size: 14px;
    text-decoration: none;
}
.footer-cell>ul{
    display: flex;
}
.footer-cell>ul>li{
    /*width: 50%;*/
    /*float: left;*/
    flex: 1;
}

.footer .footer-logo p a{
    font-size: 24px;
}
.footer-cell .summary a{
    font-size: 18px;
}
.footer-cell ul>li ul li{
    line-height: 36px;
}

.footer-bottom{
    background-color: #1C1E1F;
}
.cut-line{
    width: 100%;
    height: 1px;
    background-color: #2C2E2E;
}
.footer-bottom p{
    /*width: 600px;*/
    margin: auto;
    text-align: center;
    line-height: 45px;
}
.footer-bottom p a{
    color: #7F8387;
    text-decoration: none;
    font-size: 12px;
}

/*============ 页脚 结束============*/




/*========适配=========*/
@media  screen and (max-width: 1200px){
    .about-content p{
        font-size:24px;
    }

}

@media  screen and (max-width: 1200px){
    .vessel{
        width: 100%;
    }
    .footer{
        padding: 0px;
    }

    .footer-cell{
        padding:0 2%;
    }
    .footer-bottom{
        padding:0 2%;
    }

    /*=======页脚=======*/
    .footer{
        /*padding: 25px 0px 30px 0px;*/
    }
    .footer-bottom p{
        width: 100%;
    }
    .footer-cell{
        /*text-align: center;*/
    }
    .footer .footer-cell>ul{
        display:inline-block;
        margin: auto;

    }
    .footer .footer-cell>ul>li{
        width: 50%;
        float: left;
        margin-top: 30px;
    }
    .footer-cell ul li ul li{
        line-height: 25px;
    }
}


@media  screen and (max-width: 768px){
    .footer-cell .summary a {
        font-size:16px;
    }
    .footer-cell ul li ul li a{
        font-size:12px;
    }
}

@media  screen and (max-width: 414px){
    body {
        /*background-color: yellow;*/
    }
}
@media  screen and (max-width: 375px){
    .footer-logo>a img{
        background-size: 20%;
    }
    .footer .footer-cell>ul>li{
        width: 50%;

    }
}
